
nav.primary {
	width: 100%;
	display: table;
	float: none;
	position: relative;
	margin: 60px 0 55px;
	text-align:center;
	
}
nav.primary ul{
	padding:0; 
	display:inline-block; 
	overflow:hidden;
	margin:0;}
nav.primary ul li  {
	display:inline-block;
	list-style:none;
	margin:0 -2px;
	width:auto;
}

nav.primary ul li a {
	 
    display: block;
    font-size: 20px;
    height: auto;
    line-height: 14px;
	color:#FFF;
    outline: medium none;
    padding: 17px 25px 16px;
    text-decoration: none;
}
nav.primary ul li a.last{ border-right:0;}
nav.primary ul li.select-category{ font-size: 16px; font-weight: 700;  padding-right: 10px;  padding-top: 7px;}

nav.primary li a:hover, nav.primary li a.selected{
   color:#0B614B;
}
 

.entry {  
	float:left;
	max-width: 30em;
	max-height: 30em;
	margin:20px 20px 0px 0 !important;
}
.gallery-thumb {
 position:relative;
}
.entry .overlay{ 
  position:absolute; left:0; 
  top:0; width:100%; height:100%; 
  display:none;
}
.entry:hover .overlay{ display:block;}
.detail{ padding:20px 5px;}


.portfolio {  
	position: inherit;
	margin: auto;
	width: 80% ;
	height: inherit;
 }

.magnifier.port-detail {
	position:absolute;
	top:-26px;height:44px;
	width:44px;
	left:244px;
	bottom:10px;
	right:10px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}
.magnifier.port-detail{
	margin:150px 0 0 0 !important;
}
 
.video-hover {
	position:absolute;
	top:1100px;height:44px;
	width:44px;
	left:244px;
	bottom:10px;
	right:10px;
	opacity:0;
	-webkit-transition:all .3s ease-in-out;
	-moz-transition:all .3s ease-in-out;
	-ms-transition:all .3s ease-in-out;
	-o-transition:all .3s ease-in-out;
	transition:all .3s ease-in-out;
}

/*.entry:hover .video-hover,
.entry:hover .magnifier { opacity:1; }*/

.entry a{ display:block;} 
.entry a:hover .magnifier { opacity:1; }
.entry a:hover .video-hover { opacity:1; }



img {
	max-width:100%;
}

.isotope-item {
  z-index: 2;
}

.isotope-hidden.isotope-item {
  pointer-events: none;
  z-index: 1;
}

.isotope,
.isotope .isotope-item {
-webkit-transition-duration: 0.8s;
   -moz-transition-duration: 0.8s;
        transition-duration: 0.8s;
}

.isotope {
-webkit-transition-property: height, width;
   -moz-transition-property: height, width;
        transition-property: height, width;
}

.isotope .isotope-item {
-webkit-transition-property: -webkit-transform, opacity;
   -moz-transition-property:    -moz-transform, opacity;
        transition-property:         transform, opacity;
}




.portfolio .entry {
	width: 100%!important; 
}
.portfolio .entry:nth-child(3n+0){
 margin-right:0 !important;
}
.portfolio-thumbnail { 
	position:relative;
}
.portfolio .entry a.link-preety, .portfolio .entry a.link-more {  position: absolute;display:none;}
.portfolio .entry a.link-preety{left:50%; background:url(../images/plus-icon.png);width:52px; height:53px;  }
.portfolio .entry a.link-more{ left:50%; background:url(../images/plus-icon.png); width:52px; height:53px;  }
.entry:hover a.link-preety, .entry:hover a.link-more{ display:block;} 

.portfolio.two-column .entry {width: 30% !important;     }
.portfolio.four-column .entry {width: 264px !important;}



@media (max-width:991px) {
	.portfolio .entry {
    	width: auto !important;
	}
	.portfolio .entry {
	    width: 300px !important;
	}
	.portfolio.two-column .entry{
		width:50% !important
	}
}
@media(min-width:768px) and (max-width:991px) {
	nav.primary ul li a{ font-size:17px; color: white}
	.portfolio .entry {
	    width: 330px !important;
	}
	.portfolio.two-column .entry{
		width:47% !important
	}
}

@media(min-width:992px) and (max-width:1169px) {
	.portfolio.two-column .entry{
		width:48% !important
	}
}

@media (max-width:767px) {
	nav.primary ul li{ width:100%; margin:0;}
	nav.primary ul li a{ font-size:17px;}
	}
