@charset "UTF-8";

@font-face {
  font-family: "medsos";
  src:url("../fonts/medsos.eot");
  src:url("../fonts/medsos.eot?#iefix") format("embedded-opentype"),
    url("../fonts/medsos.woff") format("woff"),
    url("../fonts/medsos.ttf") format("truetype"),
    url("../fonts/medsos.svg#medsos") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "medsos" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "medsos" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dribbble:before {
  content: "a";
}
.icon-dribble:before {
  content: "b";
}
.icon-linkedin:before {
  content: "c";
}
.icon-twitter:before {
  content: "d";
}
.icon-facebook:before {
  content: "e";
}
.icon-facebook-1:before {
  content: "f";
}
#lines div {
  opacity:0;
  margin-left:-400px
}
.lines-two div {
 visibility: hidden;
}
.img-about {
  visibility: hidden;
}
.skill { 
  visibility: hidden;
}
.skill2 {
  visibility: hidden;
}