h3 {
  margin-top: 0;
  margin-bottom: 0;
}

#home {
  background: url(../img/bg.png) fixed; 
  color:#FFF; 
  height:800px; 
  width:100% 
}

.col-md-12.graphista {     
   
  z-index:1; 
  margin-top:10%; 
}
.col-md-12.graphista h1 { 
  font-size: 4em;
  max-width: inherit;
}

.col-md-6.col-about {
  padding-top:100px;
  color: #fff;
}
 

.col-md-6.col-about h1 {
  font-size:60px; 
  color:#FFF;
}
.p2 { 
  color:#666;
}
.font-about1 { 
  color:#fff;
  font-size: 1.3em;
}

.font-about2 { 
  color:#666;  
  font-size: 1.3em;
}
.col-md-6.col-about h2 {
  font-size:60px; 
  color:#666;
}
.col-md-6.skill2 {
  padding-top:100px;
  padding-bottom:50px;
}
.row.work {
  background:url(../img/webbbb.jpg) no-repeat center center fixed;
  color:#000;
  height: auto; 
  padding-bottom:100px;
  position: relative;
}
.row.map {
  color:#000;
  height:auto; 
  width:100%;
  background-color:#fff;
  padding-bottom:0;  
  border-bottom: 10px solid #FF938B;
}
.row.map iframe {
  width: 100%; 
}
.row.contact { 
  padding-top: 150px;
  width: 80%;
  height:auto;  
  background:url(../img/plane1.jpg) bottom left no-repeat;
  color:#666;
  overflow:hidden;
}
.row.contact h1 {
  font-size:60px;
}
#contact {
background-color: #FFF;
}
.row.foot { 
  color:#000;
  padding-bottom:50px;
  height:auto; width:100%;
  background-color:#292D41;
}
.row.foot .span1 {
  color:#FFF;
  font-size:18px
}
.row.foot  a {
 text-decoration:none;
 color:#FF938B;
}
.btn-custom {
  width:100%;
  background-color:#FF938B;
  height: 50px;
  color: #FFF;
  font-size: 20px;
  box-shadow: none;
}
 #map-grey { 
  width: 100%;
  height: 500px;
}


.btn1 {
  background-color: #151828;
  width: 45px;
  height: 45px;  
  border-radius: 100px;
  border: none;
}
.btn1:hover {
  background-color: #8890B4;
  width: 45px;
  height: 45px;  
  border-radius: 100px;
  border: none;

}

.btn2 {
  background-color: #151828;
  width: 45px;
  height: 45px;  
  border-radius: 100px;
  border: none;
}

.btn2 h4 {
  color: #707B9C;
  margin-top: 14px;
}
.btn2:hover {
  background-color: #8890B4;
  width: 45px;
  height: 45px;  
  border-radius: 100px;
  border: none;
}
.btn2:hover h4 {
  color:#182036;
}

.btn3 {
  background-color: #151828;
  width: 45px;
  height: 45px;  
  border-radius: 100px;
  border: none;
}
.btn3:hover {
  background-color: #8890B4;
  width: 45px;
  height: 45px;  
  border-radius: 100px;
  border: none;

}

.btn4 {
  background-color: #151828;
  width: 45px;
  height: 45px;  
  border-radius: 100px;
  border: none;
}
.btn4:hover {
  background-color: #8890B4;
  width: 45px;
  height: 45px;  
  border-radius: 100px;
  border: none;
}





